body {
  padding: 0;
  margin: 0;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.m-img {
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  background-image: url(./assets/your_verse_hero.jpg);
  background-repeat: no-repeat;
  background-position: 100% 99%;
  background-size: cover;
  max-width: 1440px;
  max-height: 645px;
}
nav {
  background: linear-gradient(180deg, grey 28%, rgb(61, 61, 61), grey);
  width: 980px;
  height: 35px;
  margin: 7.2% auto 0px;
  border-radius: 4px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0px;
}
nav ul li {
  margin: 3px 0px;
  border-right: solid 1px rgb(80, 80, 80);
}

#apple-logo {
  background-image: url(./assets/globalnav_text.png);
  background-repeat: no-repeat;
  background-position: center 0%;
  width: 100%;
  height: 30px;
}
#store {
  background-image: url(./assets/globalnav_text.png);
  background-repeat: no-repeat;
  background-position: center -30px;
  width: 100%;
  height: 30px;
}

#mac {
  background-image: url(./assets/globalnav_text.png);
  background-repeat: no-repeat;
  background-position: center -60px;
  width: 100%;
  height: 30px;
}
#ipod {
  background-image: url(./assets/globalnav_text.png);
  background-repeat: no-repeat;
  background-position: center -90px;
  width: 100%;
  height: 30px;
}
#iphone {
  background-image: url(./assets/globalnav_text.png);
  background-repeat: no-repeat;
  background-position: center -120px;
  width: 100%;
  height: 30px;
}
#ipad {
  background-image: url(./assets/globalnav_text.png);
  background-repeat: no-repeat;
  background-position: center -150px;
  width: 100%;
  height: 30px;
}
#itunes {
  background-image: url(./assets/globalnav_text.png);
  background-repeat: no-repeat;
  background-position: center -180px;
  width: 100%;
  height: 30px;
}
#support {
  background-image: url(./assets/globalnav_text.png);
  background-repeat: no-repeat;
  background-position: center -210px;
  width: 100%;
  height: 30px;
}

#search input {
  background-image: url(./assets/globalsearch_field.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  width: 140px;
  height: 20px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 15px;
  padding-left: 22px;
}

#search input:focus {
  background-image: url(./assets/globalsearch_field.png);
  background-repeat: no-repeat;
  background-position: bottom;
  border: none;
  outline: none;
  box-shadow: none;
}
#search {
  width: 164px;
  margin: 5.54px 12.4px;
  border-right: none;
}
header {
  width: 980px;
  margin: auto;
  margin-top: 20px;
}
.heading {
  width: 980px;
  height: 104px;
  background-image: url(./assets/your_verse_title_small.png);
  background-position: 0px 5px;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-heading {
  width: 980px;
  height: 82px;
  background-image: url(./assets/your_verse_subhead_small.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sm-heading {
  width: 980px;
  height: 32px;
  background-image: url(./assets/cta_your_verse_27pt.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 32px;
}
.sm-heading:hover {
  background-position: 0px -32px;
  cursor: pointer;
}
.sm-img-wrappper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  max-width: 1440px;
  max-height: 200px;
}
.sm-img-wrappper a{
  width: 365px;
  height: 200px;
}
.sm-img-wrappper .a-img {
  width: 100%;
  height: 100%;
  background-image: url(./assets/promo_iphone5s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-right: solid 2.5px white;
}
.sm-img-wrappper .b-img {
  width: 100%;
  height: 100%;
  background-image: url(./assets/promo_iphone5c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-right: solid 2.5px white;
}
.sm-img-wrappper .c-img {
  width: 100%;
  height: 100%;
  background-image: url(./assets/promo_30_years.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-right: solid 2.5px white;
}
.sm-img-wrappper .d-img {
  width: 100%;
  height: 100%;
  background-image: url(./assets/promo_supplier_responsibility.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  margin: 0 auto;
  width: 980px;
  padding: 0.1em 0 2.6em;
}
footer .row {
  display: flex;
  width: 980px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
}
footer .col {
  height: fit-content;
  position: relative;
  color: #6e6e6e;
  font-size: 10.0008px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .col ul {
  display: flex;
  margin-top: 0;
  list-style: none;
}
footer .col ul li {
  border-right: solid 1px #6e6e6e;
  padding: 0 5px;
}
footer .col ul li:last-child {
  border-right: none;
}
.usa {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  position: absolute;
  right: -20px;
  top: -2px;
}
