body {
  padding: 0;
  margin: 0;
}
a{  color: #08c;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;   
}
.container{
    max-width: 1440px; 
    width: 100%;
    margin: 0 auto;
}
.m-img {
  display: flex;
  width: 100%;
  height: 80%;
  background-image: url(./assets/your_verse_hero.jpg);
  background-repeat: no-repeat;
  background-position: 100% 99%;
  background-size: cover;
  max-width: 1440px;
  max-height: 645px;

}
header{
    width: 980px;
    margin: auto;
}
.heading {
  width: 980px;
  height: 104px;
  background-image: url(./assets/your_verse_title_small.png);
  background-position: 0px 5px;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-heading {
  width: 980px;
  height: 82px;
  background-image: url(./assets/your_verse_subhead_small.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sm-heading {
  width: 980px;
  height: 32px;
  background-image: url(./assets/cta_your_verse_27pt.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 32px;
}
.sm-heading:hover {
  background-position: 0px -32px;
  cursor: pointer;

}
.sm-img-wrappper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  max-width: 1440px;
  max-height: 200px;
}
.sm-img-wrappper .a-img {
  width: 365px;
  height: 200px;
  background-image: url(./assets/promo_iphone5s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-right: solid 2.5px white;
}
.sm-img-wrappper .b-img {
  width: 365px;
  height: 200px;
  background-image: url(./assets/promo_iphone5c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sm-img-wrappper .c-img {
  width: 365px;
  height: 200px;
  background-image: url(./assets/promo_30_years.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sm-img-wrappper .d-img {
  width: 365px;
  height: 200px;
  background-image: url(./assets/promo_supplier_responsibility.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
    margin: 0 auto;
    width: 980px;
    padding: 1em 0 2.6em;
}
footer .row{
    display: flex;
    width: 980px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 15px;
}
footer .col{
    height: fit-content;
    position: relative;
    color: #6e6e6e;
    font-size: 10.0008px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .col ul{
    display: flex;
    margin-top: 0;
    list-style: none;

}
footer .col ul li{
    border-right: solid  1px  #6e6e6e;
    padding: 0 5px;
}

.usa{
    width: 16px;
    height: 16px;
    margin-left: 5px;
    position: absolute;
    right: -20px;
    top: -2px;
}